/*-----------------GENERAL STYLES-----------------*/
@font-face {
    font-family: 'Akkurat Light';
    src: url('../fonts/Akkurat-Light.woff2') format('woff2'),
        url('../fonts/Akkurat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Akkurat';
    src: url('../fonts/Akkurat.woff2') format('woff2'),
        url('../fonts/Akkurat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Akkurat Bold';
    src: url('../fonts/Akkurat-Bold.woff2') format('woff2'),
        url('../fonts/Akkurat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
a, a:hover {
    text-decoration: none;
}
b {
    font-family: 'Akkurat Bold';
}
*:focus,
*:active {
    outline: none !important;
}
p {
    color: #fff;
}
h1, h2, h3 {
    font-family: 'Akkurat';
    color: #fff;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 32px;
}
/*-----------------HOME PAGE STYLES-----------------*/

/*-----Nav styles-----*/
.nav-container {
    margin: 0 auto;
    padding: 0px 80px;
}
.navbar {
    height: 100px;
    padding: 0;
}
.navbar-brand {
    width: 120px;
}
.navbar-brand img {
    width: 100%;
}
.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
}
.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.nav-item .nav-link {
    margin: 5px 25px;
    color: #fff;
    font-family: 'Akkurat';
}
.nav-item .nav-link:hover {
    color: #3b3b3b;
}
.nav-item.exchange {
    border: 2px solid #fff;
    padding: 0px 5px;
    border-radius: 50px;
}

/*-----Main Section styles----*/
.main {
    height: 100%;
    max-height: 70vh;
    padding: 0px 80px;
}
.text-container {
    max-width: 
}
.main header {
    position: absolute;
    top: 200px;
    left: 80px;
}
.main header h1 {
    max-width: 800px;
    font-size: 80px;
}
.main header p {
    margin-top: 30px;
    margin-bottom: 10px;
    max-width: 400px;
}
.tracer-btn {
    height: 60px;
    width: 158px;
    background: none;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
}
.main header .tracer-btn {
    margin-top: 20px;
}
.main header .tracer-btn:first-of-type {
    margin-right: 30px;
}
/*-----Main Section styles----*/
section.eco-system {
    background: #1026c9;
}
.text-container {
    position: relative;
    width: 100%;
    padding: 40px 80px;
    box-sizing: padding-box;
    overflow: hidden;
}
.text-container hr {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: calc(100% - 160px);
    border-top: 2px solid #7FD8F7;
    margin: 0px;
}
section.eco-system p {
    margin-top: 30px;
    margin-bottom: 60px;
}
.left-container,
.right-container {
    float: left;
    width: 30%;
}
.right-container {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    padding-left: 50px;
}
.tracer-icons {
    position: relative;
    padding-top: 65px;
    display: inline-flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.tracer-icons .connector-lines {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    border-top: 2px dotted #7FD8F7;
    border-right: 2px dotted #7FD8F7;
    border-left: 2px dotted #7FD8F7;
    height: 50px;
    width: 80%;
}
.tracer-icons .connector-lines h3 {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 22px;
    background: #1026c9;
    padding: 0px 15px;
}
.tracer-icons figure {
    height: 200px;
    width: 200px;
    display: block;
    padding-bottom: 20px;
    border: 2px solid #3DA8F5;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: unset;
    transition: all 0.5s ease;
}
.tracer-icons figure:hover {
    background: #3DA8F5;
}
.tracer-icons figure:last-of-type {
    margin-right: 0px;
}
.tracer-icons figure .icon {
    position: relative;
    height: 60%;
    width: 60%;
    display: block;
    margin: 0 auto;
}
.tracer-icons figure img.tracer-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;
}
.tracer-icons figure figcaption {
    color: #fff;
    font-family: 'Akkurat Light', serif;
    vertical-align: bottom;
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.tracer-icons figure figcaption img {
    display: inline;
    width: 100px;
    padding-bottom: 10px;
    margin-top: unset;
}
/*---ARROW CSS---*/
.arrow-right {
    height: auto;
    display: flex;
    align-items: center;
}
.arrow-right .arrow-container {
    padding: 0px 5px;
}
.arrow-right .arrow-container p {
    margin: 0px;
    text-align: center;
    color: #7FD8F7;
}
/*--------PARTNERS SECTION--------*/
section.partners {
    background: #fff;
    padding: 80px;
}
section.partners h2 {
    color: #333333;
}
section.partners figure {
    display: inline;
    margin-right: 80px;
}

/*--------FOOTER SECTION--------*/
footer {
    background: #fff;
}
footer .text-container {
    display: flex;
}
footer .text-container p,
footer .text-container a, {
    /*color: #050CBD !important;*/
    font-size: 14px;
}
footer .text-container hr {
    border-top: 2px solid #050CBD;
}
footer .text-container .logo-container {
    display: flex;
    align-items: center;
}
footer .text-container .logo-container p {
    color: #050CBD;
    padding-top: 10px;
    margin-left: 50px;
    width: max-content;
}
/*Sitemap*/
footer .text-container .sitemap {
    margin-left: 150px;
    width: auto;
    display: inline;
}
footer .text-container .sitemap .sitemap-links {
    column-count: 2;
    column-gap: 150px;
    display: inline-block;
    width: 160px;
}
footer .text-container .sitemap p {
    color: #050CBD;
    margin-bottom: 5px;
}
footer .text-container .sitemap p.title {
    width: 100%;
}
footer .text-container .sitemap .sitemap-links a {
    padding-right: 5px;
    display: inline-block;
    width: max-content;
}
/*Legal sitemap link elements*/
footer .text-container .sitemap.legal {
    margin-left: 100px;
}
footer .text-container .sitemap.legal .sitemap-links {
    column-count: unset;
    column-gap: unset;
}
footer .text-container a.inline {
    display: inline;
}
.tracer-btn.blue {
    border: 2px solid #050CBD;
    color: #050CBD;
    width: 260px;
    display: inline;
    margin-right: 10px;
}
.tracer-btn.search {
    width: 260px;
    border: 2px solid #707070;
    background: #F7F7F7;
    text-align: left;
    color: #3b3b3b;
    padding-left: 25px;
    caret-color: #3b3b3b;
}
.tracer-btn.search:placeholder {
    color: #3b3b3b;
}

/*Ellipse at end*/
.ellipse-container {
    height: 60px;
    padding-left: 10px;
/*    display: flex;
    align-items: center;*/
}
.ellipse-container img {
    width: 30%;
}